body{
    background-image: url(../img/s05b4fkn.png);
    background-size: contain;
    font-family: 'Advent Pro', sans-serif;
    
        
}

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.dark-mode .navbar {
    background-color: #333;
}

.dark-mode button {
    background-color: #333;
    color: white;
}

.dark-mode .btn {
    border-color: #444;
}
.header-cont{
    backdrop-filter: blur(50px);
    box-shadow: 0px 0px 30px rgba(227,228,237,0.37);
    width: 100px; 
    height: 25px;
    
}